* {
    font-family: 'Open Sans', sans-serif;
    
}

.nav-link {
    font-size: large;
}

:root {
    --bg-blue-1: #000000;
    --bg-blue-2: #ffffff;
    --bg-blue-3: #7e7e7e;
    --bg-blue-4: #dddddd;
    --margin-top: 100px;
}

body {
    background-image: url(../images/pexels-resourceboy-18541761.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
}

img { 
    border-radius: 5px;
    filter: brightness(70%);
    margin: 24px 0;
}

button:focus {
    box-shadow: 0; 
}

.navbar-toggler {
color: var(--bg-blue-2);
font-size:xx-large;
}

.btn-primary{
    background: #7e7e7e;
    border-color: #7e7e7e;
    }

.btn-primary:hover {
    background-color: var(--bg-blue-3);
    border-color: #000000;
}

.logo-text {
    font-size: 1.8rem;
    color: var(--bg-blue-2);
    font-weight: 800;
}

.logo-text:hover {
    color: var(--bg-blue-3);
}

.sobre {
    color: var(--bg-blue-2);
}

.nav-link  {
    color: var(--bg-blue-2);
    justify-content: center ;
}

.nav-link:hover  {
    color: var(--bg-blue-3);
}

.container  {
    color: var(--bg-blue-2);
}

.icon {
    font-size: 60px;
    color: var(--bg-blue-1);
    margin: 24px 0;
    transition: .5s;
}

.card {
    transition: .5s;
}

.card:hover {
    background-color: var(--bg-blue-4);
}

.card:hover .icon {
    transform: scale(1.5);
}

.icon-social,
.icon-contato {
    font-size: 2rem;
    color: var(--bg-blue-3);
    transition: .5s;
}

.icon-social:hover {
    color: var(--bg-blue-3);
}

textarea {
    resize: none;
    height: 130px;
}

.text-left {
    text-align: left !important;
}


@media(max-width:959px) {
    #sobre{
        text-align: center;
    }
}